@media screen and (max-width: 767px) {
    ////Common
    //Spaces
    .py-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    ////Pages
    //Home
    main {
        #slider {
            height: 450px;
            .main-slider {
                .slide-animate {
                    .slider-content {
                        height: 450px;
                        span {
                            font-size: 16px;
                        }
                        h2.title-slider {
                            font-size: 27px;
                            margin-bottom: 30px;
                            line-height: 46px;
                        }
                    }
                    .slider-product {
                        height: 450px;
                        .product-image {
                            img {
                                width: 60%;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        #banner {
            .double-banners {
                .single-banner {
                    &:first-child {
                        margin-top: 30px;
                    }
                }
            }
        }
        #product {
            .product-tab-content {
                margin-top: 40px;
            }
        }
        #feature_product {
            .section-title {
                margin-bottom: 40px;
                .title {
                    font-size: 30px;
                    margin: 0 0 15px;
                }
            }
            .single-feature-content {
                .top-content {
                    top: 30px;
                    .title {
                        font-size: 24px;
                        margin: 0 0 10px;
                    }
                    .price {
                        font-size: 24px;
                    }
                }
                .bottom-content {
                    bottom: 40px;
                    .deal-timing {
                        .cdown {
                            .cdown-1 {
                                width: 70px;
                                height: 70px;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .feature-right-content {
                .image-side {
                    width: 230px;
                }
                .content-side {
                    width: calc(100% - 230px);
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}