@media screen and (min-width: 993px) and (max-width: 1200px) {
    //#region Common

    //#region Spaces
    .py-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .pb-section {
        padding-bottom: 80px;
    }
    //#endregion

    //#endregion

    // Main Start
    main {
        // Banner start
        #banner {
            .single-banner {
                .banner-content {
                    top: 20px;
                    h3 {
                        font-size: 32px;
                        line-height: 44px;
                    }
                }
            }
        }
        // Banner end

        // Feature start
        #feature_product {
            .single-feature-content {
                .top-content {
                    top: 30px;
                    .title {
                        font-size: 24px;
                        margin: 0 0 10px;
                    }
                    .price {
                        font-size: 24px;
                    }
                }
                .bottom-content {
                    bottom: 40px;
                    .deal-timing {
                        .cdown {
                            .cdown-1 {
                                width: 70px;
                                height: 70px;
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .feature-right-content {
                .image-side {
                    width: 180px;
                }
                .content-side {
                    width: calc(100% - 180px);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .prize-content {
                        padding: 15px 0;
                    }
                    .product-feature {
                        margin-top: 20px;
                        ul {
                            li {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        // Feature end

        // Testimonial start
        #testimonial {
            padding-bottom: 60px;
            .testimonial-slider {
                .swiper-slide {
                    .testi-inner {
                        height: 325px;
                    }
                }
            }
        }
        // Testimonial end

        // Partners start
        #partners {
            .partners-slider {
                padding: 80px 0;
            }
        }
        // Partners end

        // Blog start
        #blog {
            .single-blog {
                .blog-content {
                    .blog-date-author {
                        span {
                            font-size: 14px;
                            & + span {
                                margin-left: 10px;
                            }
                        }
                    }
                    .blog-heading {
                        margin: 15px 0 15px 0;
                        font-size: 20px;
                        line-height: 30px;
                    }
                    p {
                        line-height: 28px;
                        margin-bottom: 20px;
                        font-size: 14px;
                    }
                    a.blog-btn {
                        font-size: 16px;
                        width: 150px;
                        height: 50px;
                    }
                }
            }
        }
        // Blog end
    }
    // Main End
}
