@media screen and (min-width: 993px) and (max-width: 1200px) {
    //Common

    //spaces
    .py-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pb-section {
        padding-bottom: 80px;
    }

    main {
        #banner {
            .single-banner {
                .banner-content {
                    top: 20px;
                    h3 {
                        font-size: 32px;
                        line-height: 44px;
                    }
                }
            }
        }
        #feature_product {
            .single-feature-content {
                .top-content {
                    top: 30px;
                    .title {
                        font-size: 24px;
                        margin: 0 0 10px;
                    }
                    .price {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
