main {
    #slider {
        height: 700px;
        .main-slider {
            background-image: url(../../assets/uploads/sliders/bg/slider-bg-1.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            &:hover {
                .swiper-buttons {
                    div {
                        opacity: 1;
                        visibility: visible;
                    }
                    .swiper-button-next {
                        right: 50px;
                    }
                    .swiper-button-prev {
                        left: 50px;
                    }
                }
            }
            .swiper-wrapper {
                box-sizing: border-box;
            }
            .slide-animate {
                &.swiper-slide-active {
                    & * {
                        animation-name: fadeInUp;
                    }
                }
                & * {
                    animation-name: fadeOutUp;
                }
                .slider-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 700px;
                    span {
                        display: block;
                        font-size: 18px;
                        margin: 0 0 10px;
                        font-weight: 500;
                        color: #fff;
                        animation-delay: 0.5s;
                        animation-duration: 1s;
                    }
                    h2.title-slider {
                        font-size: 60px;
                        font-weight: 600;
                        margin-bottom: 50px;
                        color: #fff;
                        line-height: 78px;
                        animation-delay: 1s;
                        animation-duration: 1s;
                    }
                }
                .slider-product {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    height: 700px;
                    .product-image {
                        display: flex;
                        justify-content: center;
                        animation-delay: 1s;
                        animation-duration: 1s;
                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-buttons {
                div {
                    transform: translateY(-50%);
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s;
                    margin: auto;
                    border-radius: 50%;
                    box-shadow: 0 3px 25.5px 4.5px rgba(0, 0, 0, 0.06);
                    color: #000;
                    background-color: #fff;
                    &::after {
                        font-size: 18px;
                    }
                    &:hover {
                        background-color: $primary-color;
                        color: white;
                    }
                }
                .swiper-button-next {
                    right: 30px;
                }
                .swiper-button-prev {
                    left: 30px;
                }
            }
        }
    }
    #banner {
        .single-banner {
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                width: 100%;
                transition: all 0.3s ease 0s;
            }
            .banner-content {
                position: absolute;
                top: 40px;
                bottom: 0;
                left: 50px;
                display: flex;
                flex-direction: column;
                h3 {
                    color: #999da0;
                    font-size: 36px;
                    line-height: 46px;
                    font-weight: 600;
                    margin: 0 0 12px;
                }
                span {
                    display: block;
                    color: #161616;
                    font-size: 24px;
                    font-weight: 500;
                    margin: 0 0 0;
                }
                a {
                    font-size: 18px;
                    width: 50px;
                    height: 50px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary-color;
                    color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    top: auto;
                    bottom: 30px;
                    overflow: hidden;
                    i {
                        transition: all 0.3s ease 0s;
                    }
                    &:hover i {
                        transform: scale(1.1);
                    }
                }
            }
            &:hover img {
                transform: scale(1.1) rotate(3deg);
            }
            &.first-banner {
                .banner-content {
                    top: auto;
                    bottom: 40px;
                    width: 100%;
                    a {
                        bottom: 0;
                        left: auto;
                        right: 100px;
                    }
                }
            }
        }
        .double-banners {
            .single-banner {
                &:first-child {
                    margin-bottom: 30px;
                }
            }
        }
    }
    #product {
        .product-tab-nav {
            .product-tab-nav-list {
                .product-nav-item {
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                    display: inline-block;
                    vertical-align: top;
                    text-transform: capitalize;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    .product-nav-btn {
                        width: 174px;
                        height: 54px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #eaeaeb;
                        border-radius: 18px;
                        font-size: 18px;
                        font-weight: 600;
                        color: #666;
                        background-color: #fff;
                        &.active,
                        &:hover {
                            color: #fff;
                            background-color: $primary-color;
                            border-color: $primary-color;
                        }
                    }
                }
            }
        }
        .product-tab-content {
            margin-top: 60px;
            .product {
                position: relative;
                border-width: 2px;
                background: #fff;
                border-color: #e1e1e1;
                border-style: solid;
                border-radius: 13px;
                padding: 5px;
                transition: all 0.3s ease 0s;
                z-index: 0;
                .badges {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    z-index: 4;
                    display: flex;
                    flex-direction: column;
                    transition: all 0.3s ease 0s;
                    span {
                        font-size: 14px;
                        line-height: 1.75;
                        display: block;
                        padding: 0 12px;
                        text-align: center;
                        text-transform: uppercase;
                        border-radius: 5px;
                        color: #fff;
                        font-weight: 600;
                        &.sale {
                            background: $primary-color;
                        }
                        &.new {
                            background-color: #000;
                        }
                        &+span {
                            margin-top: 12px;
                        }
                    }
                }
                .product-image {
                    position: relative;
                    overflow: hidden;
                    .image {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        img {
                            z-index: 3;
                            max-width: 100%;
                            transition: all 0.3s ease 0s;
                            width: 100%;
                            opacity: 1;
                            &.hover-image {
                                position: absolute;
                                z-index: 2;
                                top: 0;
                                left: 0;
                                opacity: 0;
                            }
                        }
                    }
                }
                .content {
                    position: relative;
                    z-index: 5;
                    display: flex;
                    transition: all 0.3s ease 0s;
                    flex-direction: column;
                    align-items: center;
                    line-height: 1;
                    background-color: #fff;
                    padding: 0 0 30px;
                    .category {
                        a {
                            font-size: 14px;
                            color: #666;
                            font-weight: 500;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                    .title {
                        font-size: 16px;
                        margin: 10px 0 15px;
                        a {
                            color: #000;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
                .actions {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease 0s;
                    top: calc(100% - 15px);
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    justify-content: center;
                    height: 60px;
                    background: #fff;
                    border: 2px solid #e1e1e1;
                    border-top: none;
                    z-index: 11;
                    border-radius: 0 0 13px 13px;
                    width: calc(100% + 5px);
                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 40px;
                        height: 40px;
                        transition: all 0.3s ease 0s;
                        text-decoration: none;
                        color: #fff;
                        border-radius: 5px;
                        background-color: #707070;
                        font-size: 24px;
                        cursor: pointer;
                        &+.action {
                            margin-left: 10px;
                        }
                    }
                }
                &:hover {
                    transform: scaleY(1.05);
                    z-index: 1;
                    .badges {
                        z-index: 5;
                    }
                    .product-image {
                        .image {
                            img {
                                transform: scale(1.1) rotate(0);
                                opacity: 0;
                                &.hover-image {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .content {
                        .title {
                            a {
                                color: #474747;
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                    .actions {
                        opacity: 1;
                        visibility: visible;
                        .action {
                            &:hover {
                                color: white;
                                background-color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    #fashion {
        height: 456px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .title {
            font-size: 60px;
            color: #fff;
            font-weight: 700;
            line-height: 74px;
            margin-bottom: 45px;
            span {
                font-size: 48px;
                font-weight: 300;
                display: block;
            }
        }
    }
    #feature_product {
        .section-title {
            line-height: 1;
            margin-bottom: 50px;
            .title {
                font-size: 48px;
                font-family: Poppins, sans-serif;
                font-weight: 600;
                display: inline-block;
                color: #000;
                margin: 0 0 28px;
                line-height: 34px;
            }
            p {
                line-height: 30px;
                font-size: 18px;
                color: #595959;
            }
        }
        .single-feature-content {
            position: relative;
            border: 2px solid #e2e2e2;
            display: flex;
            flex-direction: row;
            border-radius: 15px;
            padding: 5px;
            margin: -5px;
            .feature-image {
                img {
                    max-width: 100%;
                }
            }
            .top-content {
                position: absolute;
                top: 50px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                .title {
                    font-size: 30px;
                    font-weight: 600;
                    margin: 0 0 20px;
                    a {
                        color: #000;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
                .price {
                    font-size: 30px;
                    span {
                        &.old {
                            margin-right: 20px;
                            &::after {
                                right: -20%;
                            }
                        }
                    }
                }
            }
            .bottom-content {
                position: absolute;
                bottom: 60px;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                .deal-timing {
                    .cdown {
                        display: inline-block;
                        margin-right: 20px;
                        .cdown-1 {
                            width: 87px;
                            height: 87px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #266bf9;
                            border-radius: 50%;
                            font-size: 30px;
                            color: #000;
                            font-weight: 600;
                            position: relative;
                            &::after {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 85%;
                                height: 85%;
                                border: 1px solid #e2e2e2;
                                content: "";
                                border-radius: 50%;
                                -webkit-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);
                            }
                        }
                        p {
                            margin: 8px 0 25px 0;
                            font-size: 16px;
                            color: grey;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                }
                .btn {
                    width: 200px;
                    height: 54px;
                    background-color: #266bf9;
                    border-color: #266bf9;
                    transition: all 0.3s ease 0s;
                }
            }
        }
        .feature-right-content {
            display: flex;
            border: 2px solid #e2e2e2;
            flex-direction: row;
            border-radius: 15px;
            padding: 5px;
            margin: -5px;
            .image-side {
                width: 270px;
                position: relative;
                img {
                    max-width: 100%;
                }
                .add-to-cart {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    background: #266bf9;
                    color: #fff;
                    border-radius: 5px;
                    font-weight: 600;
                    transform: scale(0);
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                }
                &::after {
                    position: absolute;
                    top: -5px;
                    left: auto;
                    width: 2px;
                    height: 103%;
                    content: "";
                    background-color: #e2e2e2;
                    right: 0;
                }
            }
            .content-side {
                width: calc(100% - 270px);
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .deal-timing {
                    display: flex;
                    background-color: #266bf9;
                    color: #fff;
                    width: 220px;
                    height: 30px;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 20px 20px 0;
                    font-weight: 600;
                    .cdown {
                        display: inline-block;
                        .cdown-1 {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            color: #fff;
                            font-weight: 600;
                            position: relative;
                            margin: 0 5px;
                            width: 20px;
                            height: 30px;
                            &::after {
                                position: absolute;
                                top: 15%;
                                left: 23px;
                                content: ":";
                            }
                        }
                        &:last-child {
                            .cdown-1 {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                        &:first-child {
                            .cdown-1 {
                                &::after {
                                    content: "d";
                                }
                            }
                        }
                        p {
                            display: none;
                        }
                    }
                }
                .prize-content {
                    padding: 20px 0;
                    position: relative;
                    .title {
                        margin-bottom: 0.5rem;
                        a {
                            font-size: 16px;
                            color: #000;
                            font-weight: 600;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                    .price {
                        line-height: 1.2;
                    }
                    &::after {
                        position: absolute;
                        top: auto;
                        bottom: -2px;
                        width: calc(100% - 25px);
                        height: 2px;
                        content: "";
                        background: #e2e2e2;
                        left: 0;
                    }
                }
                .product-feature {
                    margin-top: 30px;
                    ul {
                        line-height: 32px;
                        li {
                            font-size: 16px;
                            color: #000;
                            font-weight: 500;
                            position: relative;
                            padding-left: 15px;
                            span {
                                font-weight: 400;
                            }
                            &::after {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 6px;
                                height: 6px;
                                content: "";
                                background-color: #266bf9;
                                border-radius: 50%;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            &:hover {
                .add-to-cart {
                    transform: scale(1);
                }
            }
            &.feature-right-mt {
                margin-top: 20px;
            }
        }
    }
}