// Main Start
main {
    #login-register {
        .login-register-wrapper {
            .login-register-tab-list {
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
                a {
                    position: relative;
                    line-height: 32px;
                    h4 {
                        font-size: 25px;
                        font-weight: 500;
                        margin: 0 20px;
                        text-transform: capitalize;
                        transition: all 0.3s ease 0s;
                        color: #000;
                    }
                    &:first-child:before {
                        background-color: #000;
                        bottom: 5px;
                        content: "";
                        height: 18px;
                        margin: 0 auto;
                        position: absolute;
                        right: -2px;
                        transition: all 0.4s ease 0s;
                        width: 1px;
                    }
                    &.active,
                    &:hover {
                        h4 {
                            color: $primary-color;
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    display: block;
                    overflow: hidden;
                    height: 0;
                    visibility: hidden;
                    max-width: 100%;
                    opacity: 0;
                    &.active {
                        height: auto;
                        visibility: visible;
                        opacity: 1;
                        overflow: visible;
                    }
                }
            }
            .login-form-container {
                background: transparent none repeat scroll 0 0;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
                padding: 80px;
                text-align: left;
                .login-register-form {
                    input {
                        display: inline-block;
                        line-height: 50px;
                        height: 50px;
                        background: 0 0;
                        text-align: left;
                        background-color: transparent;
                        border: 1px solid #ebebeb;
                        color: #3a3a3a;
                        font-size: 14px;
                        margin-bottom: 30px;
                        padding: 0 15px;
                        width: 100%;
                        outline: 0;
                        &:focus {
                            border-color: $primary-color;
                        }
                    }
                    .button-box {
                        .login-toggle-btn {
                            padding: 10px 0 19px;
                            input[type="checkbox"] {
                                height: 15px;
                                margin: 0;
                                position: relative;
                                top: 1px;
                                width: 17px;
                            }
                            a {
                                color: #000;
                                float: right;
                                font-size: 15px;
                                transition: all 0.3s ease 0s;
                                &:hover {
                                    color: $primary-color;
                                }
                                &.flote-none {
                                    float: none !important;
                                }
                            }
                        }
                        button {
                            background-color: #f2f2f2;
                            border: medium none;
                            color: #000;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1;
                            padding: 11px 30px;
                            text-transform: uppercase;
                            transition: all 0.3s ease 0s;
                            outline: 0;
                            border-radius: 0;
                            font-family: Poppins, sans-serif;
                            &:hover {
                                background-color: $primary-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Main End
